*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #bd7145;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner{
    width: 500px;
    height: 80vh;
    background-color: white;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0px 9px 7px black;
}

#titulo{
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin: 50px 0;
}


.form-user .input-user{
    margin-bottom: 40px;
    position: relative;
}
.form-user .input-user input{
    width: 100%;
    height: 25px;
    padding: 0px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: .5s ;

    -webkit-appearance: none;
}
.form-user .input-user input::placeholder{
    color: transparent;
}

.form-user .input-user label{
    position: absolute;
    left: 1px;
    bottom: 10px;
    font-size: 17px;
    pointer-events: none;
    transition: .5s;   
}

.form-user .input-user input:focus ~ label,
.form-user .input-user input:valid ~ label{
    transform: translateY(-20px);
    left: 0;
}

.submit{
    margin-top: 80px;
    text-align: center;
    padding: 5px;
}
.submit .submit-btn{
    padding: 20px;
    width: 150px;
    font-size: 18px;
    font-variant: small-caps;
    border-radius: 20px;
    border: 2px solid #a34f1e;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(to right, #f69963, #d57c49, #dd6722);
    color: white;
    opacity: 0.9;
    position: relative;
}

.submit .submit-btn:hover{
    color: #f7ad83;
    text-shadow: 2px -2px 2px rgb(0, 0, 0);
    
}
.submit button{
    background-color: #a34f1e;

}

